/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/distress-audio
/public/distress-photo
/public/distress-photos
/public/distress-videos
/public/offenders-photo
/public/users-images
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
